.box1{
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.head{
    background-color: seagreen;
    padding: 12px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info{
    height: 300px;
    /* background-color: rgba(100, 149, 237, 0.4);  */
    background-color: rgb(113, 170, 164);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 10px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.delete{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border: 1px solid black;
    background-color: rgb(224, 66, 66);
    border-radius: 6px;
    color: white;
    cursor: pointer;
}
.update{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border: 1px solid black;
    background-color:rgb(43, 223, 133);
    border-radius: 6px;
    color: black;
    cursor: pointer;
}
.delete:hover{
    background-color: rgb(240, 47, 47);
    color: black;
}
.update:hover{
    background-color: rgb(8, 161, 85);
    color: white;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width:1000px){
    .box1{
        margin-left: 0px;
        margin-right: 0px;
    }
    .info{
        height: 330px;
    }
    
}