.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form input,
.form select{
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form button{
    padding: 10px;
    width: 300px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: tomato;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover{
    background-color: rgb(189, 66, 45);
    color: white;
    transform: scale(1.05);
}