
*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-image: url("./assets/pexels-imudruk-11565999.jpg");
  background-size: cover;
  background-position: center;
}
/* scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar track (background) */
::-webkit-scrollbar-track {
  background:teal;
}

/* scrollbar thumb (moving part) */
::-webkit-scrollbar-thumb {
  background: rgb(9, 84, 223);
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 83, 143);
}


@media screen and (max-width:400px){
  body{
    background-image: url("https://wallpapercave.com/wp/wp9278548.png");
  }
  ::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: cornflowerblue;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
}